<h1>Stupid Coaching</h1>

<div class="border-start  border-4 ms-3 ps-3">
<p> <%= @question %></p>
<p><em> -You </em></p>
</div>
<div class="border-start  border-4 ms-3 ps-3 mb-3 bg-warning p-2 text-dark bg-opacity-10">
<p> <%= @answer %> </></p>
<p><em> -Your coach </em></p>
</div>

<a class="text-decoration-none ms-3"> <%= link_to'Ask a new question', ask_path %> </a>
